block variables
	- var screenAppName = 'CHECK IT OUT!'
	- var appDescription = '簡単にスクリーンショットを加工・共有できるサービス'

!!! 5
html
	head
		meta(charset='utf-8')
		title
			block title
				|  | #{screenAppName}
		block styles
		block metas

	body
		block body
		block scripts
		