extends ../prototypes/base

append variables
	- var bootstrap = ''

append styles
	link(rel='stylesheet', href='/assets/mixins/reset.css')
	link(rel='stylesheet', href='/assets/mixins/stage.css')

append scripts
	script(src='/assets/scripts/libs/jquery.js')
	block extlibs
	script(src='/assets/scripts/libs/require.js', data-main='/assets/scripts/' + bootstrap + '.js')
