@import '../mixins/reset';
@import '../mixins/utils';

.rect {
	position: absolute;
}

#stage {
	position: relative;

	#draw-work-space {
		.match-parent;

		#draw-work-space-bg {
			.match-parent;
			.opacity(0.5);
		}
		&.hasRect #draw-work-space-bg {
			background: #fff;
		}

		.rect {
			.inner-shadow(0, 1px, 2px, 1px);

			.border-top {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
			}
			.border-right {
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				height: 100%;
			}
			.border-bottom {
				position: absolute;
				z-index: 1;
				bottom: 0;
				left: 0;
				width: 100%;
			}
			.border-left {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				height: 100%;
			}
		}
	}
	#clip-work-space {
		.match-parent;
		z-index: 2;

		#clip-work-space-bg-wrapper {
			.match-parent;

			.mask1,
			.mask2,
			.mask3,
			.mask4,
			 {
				position: absolute;
				.opacity(0.5);
				background: #000;
			}
			.mask1 {
				top: 0;
				right: 0;
			}
			.mask2 {
				bottom: 0;
				right: 0;
			}
			.mask3 {
				bottom: 0;
				left: 0;
			}
			.mask4 {
				top: 0;
				left: 0;
			}
		}

		.rect {
			.inner-shadow;
		}
	}
}