@import '../mixins/utils';

html, body {
	height: 100%;
}
body {
	background: url(/images/pattern-slash.png);
	font-size: 14px;
	color: #666;
	.user-select(none);
}

// util
.hidden-element {
	border: none;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
}

// common
h2 {
	height: 21px;
	background: no-repeat 50% 0;
}

#content-loading {
	height: 100%;
	background: url(/images/init-loader.gif) 50% 50% no-repeat;
}
#content-portal,
#content-editor,
#content-share,
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;

	td {
		padding: 70px;
		line-height: 0;
	}
}
#content-portal {
	.about-service {
		.transition(.2s opacity);
		position: absolute;
		top: 20px;
		right: 20px;
		color: #20a894;
		cursor: pointer;
		font-size: 12px;
		padding-left: 15px;
		line-height: 12px;
		background: url(/images/icon-link.png) no-repeat 0 0;

		&:hover {
			.opacity(.75);
		}
	}
	.container {
		display: inline-block;

		form {
			display: inline-block;
		}

		span {
			display: inline-block;
			height: 41px;
			background: url(/images/portal-sprite.png) no-repeat;

			&.image {
				width: 140px;
				background-position: 0 0;
			}
			&.paste {
				width: 313px;
				background-position: -140px 0;
			}
			&.drop {
				width: 235px;
				background-position: -453px 0;
			}
			&.please {
				width: 101px;
				background-position: -831px 0;
			}
			&.upload {
				position: relative;
				cursor: pointer;
				padding: 1px;
				width: 141px;
				height: 39px;
				overflow: hidden;
				.border-radius(4px);
				.gradient(#ccc, #fff);

				.entity {
					.border-radius(4px);
					border: 1px solid #489351;
					.gradient(#74ba7e, #5baa68);
					height: 37px;

					.text {
						.match-parent;
						background: no-repeat 50% 50% url(/images/text-upload.png);
					}
				}

				&:hover {
					.entity {
						.gradient(#74ba7e, #579e5c);
					}
				}
				input {
					height: 300px;
					font-size: 300px;
					position: absolute;
					top: 0;
					right: 0;
					.opacity(0);
				}
			}
		}
	}
}
#content-share {
	.container {
		width: 700px;
		display: inline-block;

		h2 {
			background-image: url(/images/header-share.png);
			margin-bottom: 40px;
		}

		.note {
			margin-bottom: 50px;
		}

		.ad-container {
			margin-bottom: 22px;
		}

		table {
			margin: 0 auto;

			tr {
				.transition(.3s);

				&.hidden {
					.opacity(0);
				}
			}

			th {
				text-align: right;
				font-weight: normal;
				font-size: 12px;
			}
			td {
				padding: 6px;
				text-align: left;
			}
			.input-wrapper {
				display: inline-block;
				width: 398px;
				height: 34px;
				padding: 1px;
				.border-radius(4px);
				.gradient(#ccc, #fff);

				input {
					width: 384px;
					height: 32px;
					line-height: 32px;
					font-size: 16px;
					color: #666;
					padding: 0 6px;
					border: 1px solid #e6e6e6;
					.border-radius(4px);
				}

				&.short {
					width: 118px;

					input {
						width: 104px;
					}
				}
			}
			.status {
				background: no-repeat 50% 50%;
				padding-left:24px;

				&.posting {
					background-image: url(/images/post-loader.gif);
				}
				&.posted {
					background-image: url(/images/post-complete.png);
				}
			}
		}
	}
}
#content-delete {
	padding-top: 55px;
	text-align: center;

	h2 {
		margin-bottom: 40px;

		&.confirm {
			background-image: url(/images/header-delete.png);
		}
		&.done {
			background-image: url(/images/header-deleted.png);
		}
	}

	.container {
		display: inline-block;
		vertical-align: top;
		line-height: 41px;

		span.delete {
			position: relative;
			margin-left: 15px;
			display: inline-block;
			cursor: pointer;
			padding: 1px;
			width: 109px;
			height: 39px;
			.border-radius(4px);
			.gradient(#ccc, #fff);

			.entity {
				.border-radius(4px);
				border: 1px solid #548093;
				.gradient(#83a8b5, #6a92a0);
				height: 37px;

				.text {
					.match-parent;
					background: no-repeat 50% 50% url(/images/text-delete.png);
				}
			}

			&:hover {
				.entity {
					.gradient(#83a8b5, #5e848e);
				}
			}
		}
	}
	.image-wrapper {
		text-align: center;
		padding: 30px;

		img {
			display: inline-block;
		}
	}
}
#content-help {
	.match-parent;
	vertical-align: middle;
	text-align: center;
	.transition(.3s opacity);

	td {
		padding: 50px;
		line-height: 0;
	}

	&.dissolve-out {
		.opacity(0);
	}

	.background {
		background: #000;
		.match-parent;
		.opacity(.5);
	}
	.container {
		.drop-shadow;
		position: relative;
		display: inline-block;
		width: 800px;
		height: 514px;
		background: #fff url(/images/help.png);
	}
}

// wait for server
#progress {
	.match-parent;
	.transition(.3s opacity);
	background: url(/images/init-loader.gif) 50% 50% no-repeat;

	&.dissolve-out {
		.opacity(0);
	}
}

/*
 *	extend stage module
 */
.rect {
	cursor: move;

	.handle-nw,
	.handle-ne,
	.handle-se,
	.handle-sw,
	{
		background: no-repeat 50% 50%;
		position: absolute;
		width: 30px;
		height: 30px;
	}
	.handle-nw {
		cursor: nw-resize;
	}
	.handle-se {
		cursor: se-resize;
	}
	.handle-ne {
		cursor: ne-resize;
	}
	.handle-sw {
		cursor: sw-resize;
	}
}
#stage {
	display: inline-block;
	.drop-shadow;
	.transition(.3s opacity);

	&.dissolve-out {
		.opacity(0);
	}

	#draw-work-space {
		cursor: crosshair;

		.rect {
			.handle-nw,
			.handle-ne,
			.handle-se,
			.handle-sw,
			{
				z-index: 3;
			}
			.handle-nw {
				background-image: url(/images/handle-draw-nw.png);
				left: -13px;
				top: -13px;
			}
			.handle-ne {
				background-image: url(/images/handle-draw-ne.png);
				right: -13px;
				top: -13px;
			}
			.handle-se {
				background-image: url(/images/handle-draw-se.png);
				right: -13px;
				bottom: -13px;
			}
			.handle-sw {
				background-image: url(/images/handle-draw-sw.png);
				left: -13px;
				bottom: -13px;
			}
		}
	}
	#draw-cover {
		.match-parent;
		z-index: 10;
	}
	#clip-work-space {
		.match-parent;
		z-index: 20;
		cursor: crosshair;

		#clip-work-space-bg-wrapper {
			.match-parent;

			.mask1,
			.mask2,
			.mask3,
			.mask4,
			 {
				position: absolute;
				.opacity(0.5);
				background: #000;
			}
			.mask1 {
				top: 0;
				right: 0;
			}
			.mask2 {
				bottom: 0;
				right: 0;
			}
			.mask3 {
				bottom: 0;
				left: 0;
			}
			.mask4 {
				top: 0;
				left: 0;
			}
		}

		.rect {
			.inner-shadow;

			.handle-nw {
				background-image: url(/images/handle-clip-nw.png);
				left: -15px;
				top: -15px;
			}
			.handle-ne {
				background-image: url(/images/handle-clip-ne.png);
				right: -15px;
				top: -15px;
			}
			.handle-se {
				background-image: url(/images/handle-clip-se.png);
				right: -15px;
				bottom: -15px;
			}
			.handle-sw {
				background-image: url(/images/handle-clip-sw.png);
				left: -15px;
				bottom: -15px;
			}
		}
	}
	#drag-cover {
		cursor: default;
		.match-parent;
		z-index: 30;
	}
}

/*
 *	tools and guides
 */
#tools {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 40;

	div {
		.transition(.3s);
		.border-radius(100px);
		.drop-shadow;
		border: 1px solid;
		border-color: rgba(51, 150, 136, .8);
		width: 198px;
		height: 198px;
		cursor: pointer;
		position: absolute;

		background: rgb(70, 175, 162); // IE7, IE8
		background-color: rgba(70, 175, 162, .8);
		background-repeat: no-repeat;
		background-position: 50% 50%;

		&:hover {
			border-color: rgba(41, 168, 146, .8);
			background-color: rgba(30, 196, 172, .8);
		}

		&.dissolve-out {
			.opacity(0);
		}

		&.clip {
			left: -100px;
			top: -217px;
			background-image: url(/images/tools-clip.png);
			&.dissolve-out {
				.translate3d(-40px);
			}
		}
		&.draw {
			left: -220px;
			top: -15px;
			background-image: url(/images/tools-draw.png);
			&.dissolve-out {
				.translate3d(20px, 34.642px);
			}
		}
		&.share {
			left: 20px;
			top: -15px;
			border-color: rgba(72, 155, 86, .8);
			background-color: rgba(95, 178, 112, .8);
			background-image: url(/images/tools-share.png);
			&:hover {
				border-color: rgba(52, 173, 69, .8);
				background-color: rgba(69, 196, 81, .8);
			}
			&.dissolve-out {
				.translate3d(20px, -34.642px);
			}
		}
	}
}
#guide {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 41;
	.transition(.3s);
	&.dissolve-out {
		.translate3d(0, -60px);
	}

	.container {
		position: relative;
		margin: 0 auto;
		height: 63px;
		width: 798px;
		background-color: #e5e5e5;
		background-position: 50% 23px;
		background-repeat: no-repeat;
		border: 1px solid #ccc;
		top: -8px;
		.border-radius(8px);
		.drop-shadow;

		&.draw {
			background-image: url(/images/guide-draw.png);
			.cancel {
				display: none;
			}
		}
		&.clip {
			background-image: url(/images/guide-clip.png);
		}

		// buttons
		// TODO: add fallback
		.done,
		.cancel
		{
			position: absolute;
			bottom: 7px;
			height: 39px;
			padding: 1px;
			.border-radius(4px);
			cursor: pointer;

			.entity {
				.border-radius(4px);
				border: 1px solid transparent;
				height: 37px;

				.text {
					.match-parent;
					background: no-repeat 50% 50%;
				}
			}
		}

		// done style
		.done {
			right: 7px;
			width: 99px;
			.gradient(#b3b3b3, #ededed);

			.entity {
				.gradient(#5eccc2, #46afa2);
				border-color: #3a9b8d;
				width: 97px;

				.text {
					background-image: url(/images/text-next.png);
				}
			}

			&:hover {
				.entity {
					.gradient(#5eccc2, #3ca092);
					border-color: #3a9b8d;
				}
			}
		}

		// cancel style
		.cancel {
			left: 7px;
			width: 113px;

			.entity {
				width: 111px;

				.text {
					background-image: url(/images/text-cancel-default.png);
				}
			}

			&:hover {
				.gradient(#b3b3b3, #ededed);

				.entity {
					.gradient(#83a8b5, #6a92a0);
					border-color: #548093;

					.text {
						background-image: url(/images/text-cancel-hover.png);
					}
				}
			}
		}
	}
}
