@import '../mixins/reset';
@import '../mixins/utils';

.rect {
	position: absolute;
}

#stage {
	position: relative;

	#clip-work-space {
		.match-parent;

		#clip-work-space-bg {
			.match-parent;
			.opacity(0.5);
			background: #000;
		}
	}
	#draw-work-space {
		.match-parent;

		#draw-work-space-bg {
			.match-parent;
			.opacity(0.5);
			background: #fff;
		}
	}
}