extends ../prototypes/stage

append variables
	- var bootstrap = 'capture'

block body
	#wrapper
		#content-editor
			#stage(data-bind='style: {height: stageHeight() + "px", width: stageWidth() + "px", backgroundImage: "url(" + imageSource() + ")", backgroundPosition: stageOffsetX() + "px " + stageOffsetY() + "px"}')
				#draw-work-space
					#draw-work-space-bg

prepend scripts
	script
		var DNA = !{dna};
