extends ../prototypes/base

prepend title
	| DELETE

append styles
	link(rel='stylesheet', href='/assets/mixins/reset.css')
	link(rel='stylesheet', href='/assets/styles/main.css')

block body
	if mode == 'form'
		#content-delete
			h2
			form(action='/delete', method='post')
				input(type='hidden', name='token', value=token)
				input(type='submit')
			img(src=imageSource)

	else if mode == 'done'
		if error
			| error
		else
			| done