extends ../prototypes/base

prepend title
	| DELETE

block body
	if mode == 'form'
		form(action='/delete', method='post')
			input(type='hidden', name='token', value=token)
			input(type='submit')
		img(src=imageSource)

	else if mode == 'done'
		if error
			| error
		else
			| done