extends ../prototypes/stage

append variables
	- var bootstrap = 'main'

block title
	= screenAppName

append metas
	//- TODO: favicon
	//- TODO: ogp

block body
	#wrapper
		//- TODO: animation
		#content-loading(data-bind='visible: state() == "loading"')
			//- TODO: bg
			img(src='/images/loading.gif')

		//- TODO: animation
		#content-portal(data-bind='visible: state() == "portal"', style='display: none')
			//- TODO: hide
			iframe(name='upload-frame')

			span(data-bind='visible: canPasteImage') [ paste ]
			span(data-bind='visible: canDropImage') [ drop ]
			span(data-bind='visible: canPasteImage || canDropImage') or

			//- TODO: style
			form(action='./api/v1/upload', method='post', enctype='multipart/form-data', target='upload-frame')
				input(type='file', name='image', data-bind='event: {change: upload}')
				input(type='submit')

		//- TODO: animation
		#content-editor(data-bind='visible: state() == "editor"', style='display: none')
			#stage(data-bind='style: {height: stageHeight() + "px", width: stageWidth() + "px", backgroundImage: "url(" + imageSource() + ")", backgroundPosition: stageOffsetX() + "px " + stageOffsetY() + "px"}')
				//- TODO: animation
				#draw-work-space(data-bind='event: {mousedown: startDraw}')
					#draw-work-space-bg

				#draw-cover(data-bind='visible: editor() != "draw"')

				//- TODO: animation
				#clip-work-space(data-bind='visible: editor() == "clip", event: {mousedown: startClip}')
					#clip-work-space-bg-wrapper
						.mask1
						.mask2
						.mask3
						.mask4

			//- TODO: animation
			#tools(data-bind='visible: ! editor()')
				span(data-bind='click: clip') [ clip ]
				span(data-bind='click: draw') [ draw ]
				span(data-bind='click: share') [ share ]

			//- TODO: animation
			#guide(data-bind='visible: editor()')
				span(data-bind='click: cancel, visible: editor() == "clip"') [ cancel ]
				span(data-bind='click: done') [ done ]

		//- TODO: animation
		#content-share(data-bind='visible: state() == "share"', style='display: none')
			input(data-bind='value: resultUrl()')
			form(data-bind='submit: setDeleteKey')
				input(data-bind='value: deleteKey')
				input(type='submit')
			div(data-bind='visible: deleteKeyHasBeenSet()') 削除キーを設定しました

block extlibs
	script(src='/assets/scripts/libs/knockout.js')
		