!!! 5
html
	head
		title CHECK IT OUT!
		link(rel='stylesheet', href='/assets/styles/main.css')
		//- TODO: favicon
		//- TODO: ogp

	body
		#wrapper
			//- TODO: スライドアニメーション？
			#content-loading(data-bind='visible: state() == "loading"')
				//- TODO: bg
				img(src='/images/loading.gif')

			//- TODO: スライドアニメーション？
			#content-portal(data-bind='visible: state() == "portal"', style='display: none')
				span(data-bind='visible: canPasteImage') クリップボードから画像をペースト、
				span(data-bind='visible: canDropImage') 画像をドラッグアンドドロップ、
				span(data-bind='visible: canPasteImage || canDropImage') または
				a.button-upload(data-bind='click: upload') 画像をアップロード
				span してください

			//- TODO: スライドアニメーション？
			#content-editor(data-bind='visible: state() == "editor"', style='display: none')
				img(data-bind='attr: {src: imageSource}')
				| [ clip ] [draw] [ share ]

		script(src='/assets/scripts/libs/jquery.js')
		script(src='/assets/scripts/libs/knockout.js')
		script(src='/assets/scripts/libs/require.js', data-main='/assets/scripts/main.js')
