extends ../prototypes/stage

append variables
	- var bootstrap = 'main'

block title
	= screenAppName

append metas
	//- TODO: favicon
	//- TODO: ogp

append styles
	link(rel='stylesheet', href='/assets/styles/main.css')

block body
	#wrapper
		//- TODO: animation
		#content-loading(data-bind='visible: state() == "loading"')

		//- TODO: animation
		#content-portal(data-bind='visible: state() == "portal"', style='display: none')
			iframe.hidden-element(name='upload-frame')

			span(data-bind='visible: canPasteImage') [ paste ]
			span(data-bind='visible: canDropImage') [ drop ]
			span(data-bind='visible: canPasteImage || canDropImage') or

			//- TODO: style
			form(action='./api/v1/upload', method='post', enctype='multipart/form-data', target='upload-frame')
				span(data-bind='click: emulateBrowse') [ upload ]
				.hidden-element
					input(type='file', name='image', data-bind='event: {change: upload}')
					input(type='submit')

		//- TODO: animation
		table#content-editor(data-bind='visible: state() == "editor"', style='display: none', cellspacing='0', cellpadding='0'): tr: td
			span#stage(data-bind='style: {height: stageHeight() + "px", width: stageWidth() + "px", backgroundImage: "url(" + imageSource() + ")", backgroundPosition: stageOffsetX() + "px " + stageOffsetY() + "px"}')
				#draw-work-space(data-bind='event: {mousedown: startDraw}')
					#draw-work-space-bg

				#draw-cover(data-bind='visible: editor() != "draw"')

				#clip-work-space(data-bind='visible: editor() == "clip", event: {mousedown: startClip}')
					#clip-work-space-bg-wrapper
						.mask1
						.mask2
						.mask3
						.mask4

				#drag-cover(data-bind='visible: dragging()')

			#tools
				.clip(data-bind='click: clip, dissolveCSS3: ! editor()')
				.draw(data-bind='click: draw, dissolveCSS3: ! editor()')
				.share(data-bind='click: share, dissolveCSS3: ! editor()')

			#guide(data-bind='dissolveCSS3: editor() && editor() != "loader" && editor() != "share"')
				.container(data-bind='css: editor()')
					//- HACK: pre-load
					img.hidden-element(src='/images/text-cancel-hover.png')
					.cancel(data-bind='click: cancel'): .entity: .text
					.done(data-bind='click: done'): .entity: .text

		//- TODO: animation
		#content-share(data-bind='visible: state() == "share"', style='display: none')
			input(data-bind='value: resultUrl()')
			input(data-bind='value: deleteKey, valueUpdate: "keyup"')
			//- NOTE: 固定物のbgきりかえかなー
			div(data-bind='visible: deleteKeyStatus() == "posting"') guruguru
			div(data-bind='visible: deleteKeyStatus() == "posted"') done

			div(data-bind='visible: deleteUrl()')
				| 削除URL: 
				input(data-bind='value: deleteUrl()')

block extlibs
	script(src='/assets/scripts/libs/modernizr.js')
	script(src='/assets/scripts/libs/knockout.js')
		