!!! 5
html
    head
        title CHECK IT OUT!
        //- link(rel='stylesheet', href='/assets/styles/main.css')
        //- TODO: favicon
        //- TODO: ogp

    body


        script(src='/assets/scripts/libs/jquery.js')
        script(src='/assets/scripts/libs/knockout.js')
        script(src='/assets/scripts/libs/require.js', data-main='/assets/scripts/main.js')