extends ../prototypes/base

block title
	= screenAppName

append styles
	link(rel='stylesheet', href='/assets/styles/main.css')

append metas
	//- TODO: favicon
	//- TODO: ogp

block body
	#wrapper
		//- TODO: スライドアニメーション？
		#content-loading(data-bind='visible: state() == "loading"')
			//- TODO: bg
			img(src='/images/loading.gif')

		//- TODO: スライドアニメーション？
		#content-portal(data-bind='visible: state() == "portal"', style='display: none')
			//- TODO: hide
			iframe(name='upload-frame')

			span(data-bind='visible: canPasteImage') クリップボードから画像をペースト、
			span(data-bind='visible: canDropImage') 画像をドラッグアンドドロップ、
			span(data-bind='visible: canPasteImage || canDropImage') または

			//- TODO: style
			form(action='./api/v1/upload', method='post', enctype='multipart/form-data', target='upload-frame')
				input(type='file', name='image', data-bind='event: {change: upload}')
				input(type='submit')

			span してください

		//- TODO: スライドアニメーション？
		#content-editor(data-bind='visible: state() == "editor"', style='display: none')
			#stage(data-bind='style: {height: stageHeight() + "px", width: stageWidth() + "px", backgroundImage: "url(" + imageSource() + ")", backgroundPosition: stageOffsetX() + "px " + stageOffsetY() + "px"}')
				//- TODO: animation?
				#clip-work-space(data-bind='visible: editor() == "clip", event: {mousedown: startClip}')
					#clip-work-space-bg
			span(data-bind='click: clip') [ clip ]
			span(data-bind='click: draw') [ draw ]
			span(data-bind='click: share') [ share ]

		//- TODO: スライドアニメーション？
		#content-share(data-bind='visible: state() == "share"')

append scripts
	script(src='/assets/scripts/libs/jquery.js')
	script(src='/assets/scripts/libs/knockout.js')
	script(src='/assets/scripts/libs/require.js', data-main='/assets/scripts/main.js')
