extends ../prototypes/base

prepend title
	| UPLOAD

append scripts
	if status == 'success'
		script
			parent.uploadImageCallback(!{image});

	else if status == 'unsupportedimage'
		script
			alert('サポートされない画像タイプです');

	else
		script
			alert('エラーが発生しました');
