extends ../prototypes/base

prepend title
	| UPLOAD

append scripts
	if status == 'success'
		script
			parent.uploadImageCallback(!{image});

	else
		script(src='/assets/scripts/libs/require.js')
		script
			requirejs.config({baseUrl: '/assets/scripts'});

		if status == 'unsupportedimage'
			script
				require(['etc/lang'], function (lang) {
						alert(lang.unsupportedImage);
					});

		else
			script
				require(['etc/lang'], function (lang) {
						alert(lang.errorInServer);
					});
